*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgba(201, 197, 197,0.3);
}

p,h1,h2,h3,h4,h5,h6{
    margin: 0;
}

/* .header{
    position: fixed;
    width: 100%;
} */
.navbar .container-fluid{
    justify-content: space-evenly;
}
.colorwhite{
    color: white;
    padding-left: 14px;
    font-size: 17px;
}
.navbar-brand img{
    height: 50px;
    border-radius: 50%;
}
.login{
    color: white;
}
.login p{
    font-size: 12px;
    text-align: center;
}
.login h4{
    font-size: 17px;
    cursor: pointer;
}
.icon1{
    font-size: small;
    padding-left: 3px;
}
.d-flex{
    width: 40%;    
}
.d-flex button{
    border-color:#F8A830 ;
    color: #F8A830;
}
.d-flex button:hover{
    background-color: #F8A830;
    border-color:#F8A830 ;
}
.container-fluid .line{
    height: 30px;
    width: 1px;
    background-color: gray;
}
.cart a{
    color: white;
    display: flex;
    gap: 4px;
    cursor: pointer;
    text-decoration: none;
}
.cart a .icon2{
    font-size: xx-large;
}

.navlink{
    height: auto;
    background-color: #ffffff;
    border-bottom:1px solid rgba(155, 145, 145, 0.5);
    display: grid;
    place-items: center;
}
.navlink ul{
    width: 100%;
    margin: 0;
    padding: 0;

    list-style: none;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-wrap: wrap;
}
.navlink ul li{
    padding: 10px 40px;
    font-size: larger;
}
.navlink ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.navlink ul li a:hover{
    color:#F8A830
}


/* ----- Slider ------ */
.image img{
    height: 750px;
}


